[% BLOCK TITLE %] :: Прыжок № [% jmp.num %] ([% DATETIME jmp.dt %])[% END %]
[% BLOCK HEADER %]
    <script src="https://api-maps.yandex.ru/2.1/?apikey=4e65ad4b-a834-42df-baf6-5c0d5e8135e8&lang=ru_RU" type="text/javascript"></script>
[% END %]
[% BLOCK CONTENTHDR_PAGENAME %]Прыжок № [% jmp.num %][% END %]
[% BLOCK CONTENTHDR_PAGECOMMENT %][% DATETIME jmp.dt %][% END %]
[% BLOCK CONTENT %]
    <div class="box box-solid">
        <!-- /.box-header -->
        <div class="box-body">
            <dl class="dl-horizontal">
                <dt>Cкопирован с устр-ва:</dt>
                <dd>[% DATETIME jmp.dtadd %]</dd>
                <dt>Высота отделения</dt>
                <dd>[% round(inf.beg.alt) %] m</dd>
                <dt>Время падения</dt>
                <dd>[% round((inf.cnp.tmoffset-inf.beg.tmoffset)/1000) %] сек</dd>
                <dt>Высота открытия</dt>
                <dd>[% round(inf.cnp.alt) %] m</dd>
                <dt>Время пилотирования</dt>
                <dd>[% INTERVAL (inf.end.tmoffset-inf.cnp.tmoffset) / 1000 %]</dd>
                <dt>Предыдущий:</dt>
                <dd>
                    [% IF prev %]
                        <a href="[% PREF jump: dev.id, prev.id %]">№ [% prev.num %] ([% DATETIME prev.dt %])</a>
                    [% END %]
                </dd>
                <dt>Следующий:</dt>
                <dd>
                    [% IF next %]
                        <a href="[% PREF jump: dev.id, next.id %]">№ [% next.num %] ([% DATETIME next.dt %])</a>
                    [% END %]
                </dd>
            </dl>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <script>
            var yamapsInit = false; //
    </script>
[% BLOCK yamaps %]
    [% IF size(gpsfail) > 0 %]
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-warning"></i> Не все точки на карте!</h4>
            Эти точки отсутствуют на карте, т.к. была потеряна связь с GPS-спутниками:<br />
            [% FOREACH p = gpsfail %]
                - [[% p.grpname %]] [% p.name %]<br />
            [% END %]
        </div>
    [% END # IF size(gpsfail) > 0 %]
    [% IF mapcenter %]
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">На карте</h3>
        </div>
        <!-- /.box-header -->
        [% IF size(point) > 0 %]
            <div class="box-body">
                <div class="row">
            [% FOREACH pgrp = point %]
                <div class="col-lg-3 col-xs-6">
                    <label><input type="checkbox"
                            class="icheck" id="mappnt_[% pgrp.code %]"
                            [% IF pgrp.visible %]checked[% END %]> [% pgrp.name %] ([% size(pgrp.list) %])</label>
                </div>
            [% END # FOREACH pgrp = point %]
                </div>
            </div>
            <!-- /.box-body -->
        [% END # IF size(point) > 0 %]
        <div class="box-body" id="map-body" style="height:800px">
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    
    
    <script type="text/javascript">
        var mappnt = {};
        
        ymaps.ready(function(){
            // Указывается идентификатор HTML-элемента.
            var myMap = new ymaps.Map("map-body", {
                center: [[% mapcenter.lat/10000000 %], [% mapcenter.lon/10000000 %]],
                zoom: 15
            });
            myMap.setType('yandex#satellite');
            
            [% FOREACH pgrp = point %]
                    function pntAdd_[% pgrp.code %]() {
                        var lst = mappnt.[% pgrp.code %];
                        if (!lst) {
                            lst = [];
                            var pnt;
                            [% FOREACH p = pgrp.list %]
                                pnt = new ymaps.Placemark(
                                    [[% p.lat/10000000 %], [% p.lon/10000000 %]],
                                    { iconContent: "[% p.name %]" },
                                    // Красная иконка, растягивающаяся под содержимое.
                                    { preset: "islands#[% pgrp.col %]StretchyIcon" }
                                );
                                lst.push(pnt);
                            [% END %]
                            mappnt.[% pgrp.code %] = lst;
                        }
                        lst.forEach(function(pnt) {
                            myMap.geoObjects.add(pnt);
                        });
                    }
                $('input#mappnt_[% pgrp.code %]').on('ifChanged', function () {
                    var $this = $(this);
                    var check = $this.prop('checked');
                    if (check) {
                        pntAdd_[% pgrp.code %]();
                    }
                    else {
                        var lst = mappnt.[% pgrp.code %];
                        lst.forEach(function(pnt) {
                            myMap.geoObjects.remove(pnt);
                        });
                    }
                    
                    ajaxF('[% PREF jump/pointvisible: pgrp.code %]', { visible: check ? 1 : 0 });
                });
                [% IF pgrp.visible %]pntAdd_[% pgrp.code %]();[% END %]
            [% END # FOREACH pgrp = point %]
            
            if (yamapsInit) {
                yamapsInit(myMap);
            }
        });
    </script>
    [% ELSE # IF mapcenter %]
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-warning"></i> Ошибка отображения карты!</h4>
            Отсутствие связи с GPS-спутниками.
        </div>
    [% END # IF mapcenter %]
[% END # BLOCK mapjspoint %]
    
    <!-- config debug -->
    <div class="box box-widget collapsed-box">
        <div class="box-header with-border">
            <a href="#" data-widget="collapse">debug</a>
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i> </button>
            </div> <!-- /.box-tools -->
        </div> <!-- /.box-header -->
        <div class="box-body" style="display: none;">
            <pre>jmp: [% JSONPRETTY jmp %]</pre>
        </div> <!-- /.box-body -->
    </div> <!-- box-widget -->
[% END %]
