<?xml version="1.0" encoding="UTF-8"?>
<gpx version="1.1" creator="Yandex Map Constructor" xmlns="http://www.topografix.com/GPX/1/1">
    <metadata>
        <name><![CDATA[Без названия]]></name>
        <desc/>
        <time>2017-10-18T12:19:23.353Z</time>
    </metadata>
    <trk>
            <name>трек</name>
[% FOREACH seg = seglist %]
        <trkseg>
[% FOREACH p = seg %]
<trkpt lon="[% p.lon / 10000000 %]" lat="[% p.lat / 10000000 %]">
    <name>[% INTERVAL p.tmoffset / 1000 %], [% int(p.alt) %] m / [% sprintf('%0.1f', p.altspeed/100) %] m/s</name>
    <desc>Горизонт: [% round(p.heading) %]&deg; / [% sprintf('%0.1f', p.hspeed/100) %] m/s[% IF exists(p.kach) %] (кач: [% sprintf('%0.1f', p.kach) %])[% END %]</desc>
    <ele>[% int(p.alt) %]</ele>
    <magvar>[% round(p.heading) %]</magvar>
    <sat>[% p.sat %]</sat>
</trkpt>
[% END # FOREACH p = seg %]
        </trkseg>
[% END # FOREACH seg = seglist %]
    </trk>
</gpx>
