[% BLOCK TITLE %] :: Трек[% END %]
[% BLOCK HEADER %]
    <script src="https://api-maps.yandex.ru/2.1/?apikey=4e65ad4b-a834-42df-baf6-5c0d5e8135e8&lang=ru_RU" type="text/javascript"></script>
[% END %]
[% BLOCK CONTENT %]
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Трек</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <dl class="dl-horizontal">
                <dt>Дата запуска:</dt>
                <dd>[% DATETIME trk.dtbeg %]</dd>
                <dt>Cкопирован с устр-ва:</dt>
                <dd>[% DATETIME trk.dtadd %]</dd>
                <dt>Длительность:</dt>
                <dd>[% INTERVAL interval/1000 %]</dd>
                <dt>Другие форматы:</dt>
                <dd>
                    <a href="[% PREF track/gpx: auth.user.id, dev.id, trk.id %]">gpx</a> |
                    <a href="[% PREF track/csv: auth.user.id, dev.id, trk.id %]">csv</a>
                </dd>
            </dl>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Высота</h3>
        </div>
        <!-- /.box-header -->
      <div class="box-body">

            <div class="chart">
                <!-- Sales Chart Canvas -->
                <canvas id="chartVert" style="height: 400px;"></canvas>
            </div>
            <!-- /.chart-responsive -->
      </div>
      <!-- ./box-body -->
    </div>
    <!-- /.box -->
    
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Скорость снижения</h3>
        </div>
        <!-- /.box-header -->
      <div class="box-body">

            <div class="chart">
                <!-- Sales Chart Canvas -->
                <canvas id="chartVSpeed" style="height: 400px;"></canvas>
            </div>
            <!-- /.chart-responsive -->
      </div>
      <!-- ./box-body -->
    </div>
    <!-- /.box -->
    
    
[% IF mapcenter %]
    [% IF size(trk.data) > 0 %]
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">На карте</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body" id="map-body" style="height:800px">
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    [% END # IF size(trk.data) > 0 %]

<script>
        ymaps.ready(function(){
            // Указывается идентификатор HTML-элемента.
            var myMap = new ymaps.Map("map-body", {
                center: [[% mapcenter.lat / 10000000 %], [% mapcenter.lon / 10000000 %]],
                zoom: 15
            });
            myMap.setType('yandex#satellite');
            
    [% BLOCKINCLUDE jumpinfo: CONTENT_mapjspoint %]
            
            ymaps.geoXml.load('[% PREF track/gpx: auth.user.id, dev.id, trk.id %]')
                .then(onGeoXmlLoad);
            
            // Обработчик загрузки XML-файлов.
            function onGeoXmlLoad(res) {
                myMap.geoObjects.add(res.geoObjects);
                if (res.mapState) {
                    res.mapState.applyToMap(myMap);
                }
                else {
                    myMap.setBounds(res.geoObjects.getBounds());
                }
            }
        });
</script>
[% ELSE ## IF mapcenter %]
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-warning"></i> Ошибка отображения карты!</h4>
            Трэк пустой или весь трек был при потере связи с GPS-спутниками.
        </div>
[% END ## IF mapcenter %]
    
[% IF size(trk.data) < 1000 %]
    <!-- config debug -->
    <div class="box box-widget collapsed-box">
        <div class="box-header with-border">
            <a href="#" data-widget="collapse">debug</a>
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i> </button>
            </div> <!-- /.box-tools -->
        </div> <!-- /.box-header -->
        <div class="box-body" style="display: none;">
            <pre>trk: [% JSONPRETTY trk %]</pre>
        </div> <!-- /.box-body -->
    </div> <!-- box-widget -->
[% END %]


<script>
$(document).ready(function() {

  var chartOptions = {
    // Boolean - If we should show the scale at all
    showScale               : true,
    // Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines      : true,
    // String - Colour of the grid lines
    scaleGridLineColor      : 'rgba(0,0,0,.05)',
    // Number - Width of the grid lines
    scaleGridLineWidth      : 1,
    // Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,
    // Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines  : true,
    // Boolean - Whether the line is curved between points
    bezierCurve             : true,
    // Number - Tension of the bezier curve between points
    bezierCurveTension      : 0.3,
    // Boolean - Whether to show a dot for each point
    pointDot                : false,
    // Number - Radius of each point dot in pixels
    pointDotRadius          : 4,
    // Number - Pixel width of point dot stroke
    pointDotStrokeWidth     : 1,
    // Number - amount extra to add to the radius to cater for hit detection outside the drawn point
    pointHitDetectionRadius : 20,
    // Boolean - Whether to show a stroke for datasets
    datasetStroke           : true,
    // Number - Pixel width of dataset stroke
    datasetStrokeWidth      : 2,
    // Boolean - Whether to fill the dataset with a color
    datasetFill             : true,
    // String - A legend template
    legendTemplate          : '<ul class=\'<%=name.toLowerCase()%>-legend\'><% for (var i=0; i<datasets.length; i+=200){%><li><span style=\'background-color:<%=datasets[i].lineColor%>\'></span><%=datasets[i].label%></li><%}%></ul>',
    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
    maintainAspectRatio     : true,
    // Boolean - whether to make the chart responsive to window resizing
    responsive              : true
  };
  
      // Get context with jQuery - using jQuery's .get() method.
  var chartVertCanvas = $('#chartVert').get(0).getContext('2d');
  // This will get the first returned node in the jQuery collection.
  var chartVert       = new Chart(chartVertCanvas);
  var chartVertData = {
    labels  : [[% FOREACH e = bysec3 %][% IF e.alt < 10000 %]'[% round(e.tmoffset/1000) %] sec',[% END %][% END %]],
    datasets: [
      {
        label               : 'Высота',
        fillColor           : 'rgba(60,141,188,0.9)',
        strokeColor         : 'rgba(60,141,188,0.8)',
        pointColor          : '#3b8bba',
        pointStrokeColor    : 'rgba(60,141,188,1)',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgba(60,141,188,1)',
        data                : [[% FOREACH e = bysec3 %][% IF e.alt < 10000 %][% round(e.alt) %],[% END %][% END %]],
      },
      {
        label               : 'Скорость снижения',
        fillColor           : 'rgb(210, 214, 222)',
        strokeColor         : 'rgb(210, 214, 222)',
        pointColor          : 'rgb(210, 214, 222)',
        pointStrokeColor    : '#c1c7d1',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgb(220,220,220)',
        data                : [[% FOREACH e = bysec3 %][% IF e.alt < 10000 %][% abs(round(e.altspeed/100)) %],[% END %][% END %]]
      }
    ]
  };
  
  // Create the line chart
  chartVert.Line(chartVertData, chartOptions);
  
      // Get context with jQuery - using jQuery's .get() method.
  var chartVSpeedCanvas = $('#chartVSpeed').get(0).getContext('2d');
  // This will get the first returned node in the jQuery collection.
  var chartVSpeed       = new Chart(chartVSpeedCanvas);
  var chartVSpeedData = {
    labels  : [[% FOREACH e = bysec3 %][% IF e.alt < 10000 %]'[% round(e.tmoffset/1000) %] sec',[% END %][% END %]],
    datasets: [
      {
        label               : 'Скорость снижения',
        fillColor           : 'rgb(210, 214, 222)',
        strokeColor         : 'rgb(210, 214, 222)',
        pointColor          : 'rgb(210, 214, 222)',
        pointStrokeColor    : '#c1c7d1',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgb(220,220,220)',
        data                : [[% FOREACH e = bysec3 %][% IF e.alt < 10000 %][% abs(round(e.altspeed/100)) %],[% END %][% END %]]
      }
    ]
  };
  // Create the line chart
  chartVSpeed.Line(chartVSpeedData, chartOptions);
});
</script>
[% END %]
