<?xml version="1.0" encoding="UTF-8"?>
<gpx version="1.1" creator="Yandex Map Constructor" xmlns="http://www.topografix.com/GPX/1/1">
    <metadata>
        <name><![CDATA[Без названия]]></name>
        <desc/>
        <time>2017-10-18T12:19:23.353Z</time>
    </metadata>
[% FOREACH p = pointlist %]
<wpt lon="[% p.lon / 10000000 %]" lat="[% p.lat / 10000000 %]">
    <name>[% IF p.bystate %]Изменение состояния: [% p.state %]
        [% ELSIF p.byseg %]Восстановлена связь со спутниками[% END %]</name>
    <cmt>cmtcmt</cmt>
    <desc>[% INTERVAL p.tmoffset / 1000 %], Выс: [% int(p.alt) %], Горизонт: [% round(p.heading) %]&deg; / [% sprintf('%0.1f', p.hspeed/100) %] m/s</desc>
    <ele>[% int(p.alt) %]</ele>
    <magvar>[% round(p.heading) %]</magvar>
    <sat>[% p.sat %]</sat>
</wpt>
[% END # FOREACH p = pointlist %]
    <trk>
            <name>трек</name>
[% FOREACH seg = seglist %]
        <trkseg>
[% FOREACH p = seg %]
<trkpt lon="[% p.lon / 10000000 %]" lat="[% p.lat / 10000000 %]">
    <name>name
        [% join(',', p.flagcode) %]</name>
    <cmt>cmtcmt</cmt>
    <desc>[% INTERVAL p.tmoffset / 1000 %], Выс: [% int(p.alt) %], Горизонт: [% round(p.heading) %]&deg; / [% sprintf('%0.1f', p.hspeed/100) %] m/s</desc>
    <ele>[% int(p.alt) %]</ele>
    <magvar>[% round(p.heading) %]</magvar>
    <sat>[% p.sat %]</sat>
</trkpt>
[% END # FOREACH p = seg %]
        </trkseg>
[% END # FOREACH seg = seglist %]
    </trk>
</gpx>
